<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UTonomy</title>
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/style.css">
  <script type="module" src="/group.js"></script>
</head>

<body>
  <header>
    <h1><a href="/">UTonomy</a></h1>
    <button id="drawer-toggle">☰</button>
    <div id="drawer" class="drawer">
      <div class="account">
        <% if (user.id) { %>
            <a class="user" href="/user">
              <img src="<%= user.photos[0].value %>">
              <div class="userinfo">
                <p>
                  <%= user.displayName %>
                </p>
                <p>
                  <%= user.emails[0].value %>
                </p>
              </div>
            </a>
            <a class="button" href="/logout">ログアウト</a>
        <% } else { %>
            <a class="button" href="/auth/google">ログイン</a>
        <% } %>
      </div>
      <nav>
        <ul>
            <li><a href="/">提起ひろば</a></li>
            <% if (user.id) { %>
              <li><a href="/group">グループ</a></li>
            <% } %>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <!-- エラーメッセージの表示 -->
    <% if (error) { %>
        <div style="color: red;"><%= error %></div>
    <% } %>
    <div>
    <table>
      <caption>所属しているグループ</caption>
      <thead><tr><th>ID</th><th>グループ名</th><th>権限</th><th>人数制限</th><th>招待</th></tr></thead>
      <tbody>
        <% (permissions || []).forEach(permission => { %>
          <tr>
            <td><%= permission.target %></td>
            <td><%= permission.group.name %></td>
            <td><%= permission.role %></td>
            <td><%= permission.group.member_limit||"-" %></td>
            <td>
              <% if(permission.role=="owner"||permission.role=="admin"){ %>
                <form action="/group/<%= permission.target %>/invite" method="post">
                  <label><input name="email" placeholder="great-president031">@g.ecc.u-tokyo.ac.jp</label>
                  <button>
                    招待
                  </button>
                </form>
              <% }else{ %>
                権限がありません
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
    <div>
      <button type="button" id="newGroup">新規グループ</button>
      <form id="newGroupConfig" method="post" action="/group/new" hidden>
        <label>グループ名<input name="name" placeholder="学生全員ぶん殴る委員会" required></label>
        <button>
          作成
        </button>
      </form>
    </div>
  </main>
</body>
</html>
