<!DOCTYPE html>
<html>
<head>
  <title>U-tonomy</title>
  <script type="module" src="/client.js"></script>
</head>
<body>
  <header>
    <h1>U-tonomy</h1>
    <% if (user.id) { %>
      <a href="/user"><img src="<%= user.photos[0].value %>"><%= user.displayName %></a>
      <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/auth/google">Login with Google</a>
    <% } %>
  </header>

    <h2>Posts</h2>

    <!-- エラーメッセージの表示 -->
    <% if (error) { %>id INTEGER PRIMARY KEY AUTOINCREMENT,
        <div style="color: red;"><%= error %></div>
    <% } %>

    <ul>
      <% (data.posts || []).forEach(post => { %>
        <li>
          <strong><%= post.user_id %></strong>: <%= post.content %> - <%= post.timestamp %>
          <% if(post.vote_type=="up/down"){ %>
            <form action="/post/<%= post.id %>/vote" method="post" style="display:inline;">
              <button type="submit" name="updown" value="+1" <% if(!post.isVotable){ %>disabled<% } %>>👍 (<%= post.votes[+1] %>)</button>
              <button type="submit" name="updown" value="-1" <% if(!post.isVotable){ %>disabled<% } %>>👎 (<%= post.votes[-1] %>)</button>
            </form>
          <% } %>
        </li>
      <% }) %>
    </ul>
        <form id="post" action="/post" method="post">
          <textarea name="content" placeholder="Write your post here..." required></textarea>
          <label for="viewer">閲覧</label>
          <select id="viewer" name="viewer">
            <option value="all">全構成員</option>
            <option value="world">全世界</option>
            <% (data.permissions || []).forEach(permission => { %>
              <option value="<%= permission.target %>"><%= permission.group.name %>(<%= permission.target %>)</option>
            <% }) %>
          </select>
          <label for="voteType">投票</label>
          <select id="voteType" name="voteType">
            <option value="none">無効</option>
            <option value="up/down">👍/👎</option>
          </select>
          <select name="voter" hidden>
            <option value="all">全構成員</option>
            <% (data.permissions || []).forEach(permission => { %>
              <option value="<%= permission.target %>"><%= permission.group.name %>(<%= permission.target %>)</option>
            <% }) %>
          </select>
          <button type="submit">Post</button>
        </form>
            
    <div>
      <button type="button" id="newGroup">+</button>
      <form id="newGroupConfig" method="post" action="/group" hidden>
        <label>グループ名<input name="name" required></label>
        <button>
          作成
        </button>
      </form>
    </div>

</body>
</html>
