<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UTonomy</title>
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/index.css">
  <script type="module" src="/index.js"></script>
  <script type="module" src="/ui.js"></script>
</head>

<body>
  <header>
    <h1><a href="/">UTonomy</a></h1>
    <button id="drawer-toggle">Рў░</button>
    <div id="drawer" class="drawer">
      <div class="account">
        <% if (user) { %>
            <a class="user" href="/user">
              <img src="<%= user.photos[0].value %>">
              <div class="userinfo">
                <p>
                  <%= user.displayName %>
                </p>
                <p>
                  <%= user.emails[0].value %>
                </p>
              </div>
            </a>
            <a class="button" href="/logout">сЃГсѓ░сѓбсѓдсЃѕ</a>
        <% } else { %>
            <a class="button" href="/auth/google">сЃГсѓ░сѓцсЃ│</a>
        <% } %>
      </div>
      <nav>
        <ul>
            <li><a href="/">ТЈљУхисЂ▓сѓЇсЂ░</a></li>
            <% if (user) { %>
              <li><a href="/group">сѓ░сЃФсЃ╝сЃЌ</a></li>
            <% } %>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="flex">
      <h2>ТЈљУхисЂ▓сѓЇсЂ░</h2>
      <% if(user){ %>
        <a class="button" href="/post">
          Тќ░сЂЌсЂёТЈљУхи+
        </a>
      <% }else{ %>
        <a class="button" href="/auth/google">сЃГсѓ░сѓцсЃ│</a>
      <% } %>
    </div>
    <p>
      тГдтєЁсЂ«тЋЈжАїсѓёУдЂТюЏсЂфсЂЕсѓњТЈљУхисЂЌсђЂтГдућЪсЃ╗ТЋЎУЂитЊАсЂДжЏєсѓЂсЂдсђїУдІсЂѕсѓІтїќсђЇсЂЎсѓІт║Ѓта┤сЂДсЂЎсђѓ
    </p>
    <!-- сѓесЃЕсЃ╝сЃАсЃЃсѓ╗сЃ╝сѓИсЂ«УАеуц║ -->
    <% if (error) { %>
        <div style="color: red;"><%= error %></div>
    <% } %>
    
    <form id="viewOpt" method="get" action="/">
      <select name="show">
        <option value="world" <% if (showing=="world") { %>selected<% } %>> ­ЪїЈтЁеСИќуЋї</option>
        <% if (user) { %>
          <option value="all" <% if (showing=="all") { %>selected<% } %>> ­ЪјЊтЁеТДІТѕљтЊА</option>
        <% } %>
        <% (permissions || []).forEach(permission => { %>
          <option value="<%= permission.target %>" <% if (showing==permission.target) { %>selected<% } %>> <%= permission.group.name %></option>
        <% }) %>
      </select>
    </form>

    <ul id="posts">
      <% (posts || []).forEach(post => { %>
          <li class="post" id="<%= post.id %>">
            <div class="meta">
              <strong><%= post.nickname %></strong>
              <time><%= new Date(post.timestamp).toLocaleString('ja-JP', { timeZone: 'Asia/Tokyo' }) %></time>
            </div>
            <h3>
              <%= post.title %>
            </h3>
            <form action="/post/<%= post.id %>/vote" method="post">
              <input name="show" value=<%= showing %> hidden>
              <button type="submit" class="like" <% if(post.myVote){ %>class="toggled"<% } %>>РЎА<%= post.votes %></button>
            </form>
          </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
