<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UTonomy</title>
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/style.css">
  <script type="module" src="/vote.js"></script>
  <script type="module" src="/ui.js"></script>
</head>

<body>
  <header>
    <h1>UTonomy</h1>
    <button id="drawer-toggle">☰</button>
    <div id="drawer" class="drawer">
      <div class="account">
        <% if (user.id) { %>
            <a class="user" href="/user">
              <img src="<%= user.photos[0].value %>">
              <div class="userinfo">
                <p>
                  <%= user.displayName %>
                </p>
                <p>
                  <%= user.emails[0].value %>
                </p>
              </div>
            </a>
            <a class="button" href="/logout">ログアウト</a>
        <% } else { %>
            <a class="button" href="/auth/google">ログイン</a>
        <% } %>
      </div>
      <nav>
        <ul>
            <li><a href="/">提起ひろば</a></li>
            <% if (user.id) { %>
              <li><a href="/group">グループ</a></li>
            <% } %>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="flex">
      <h2>提起ひろば</h2>
      <a class="button" href="/post">
        新しい提起+
      </a>
    </div>
    <p>
      学内の問題や要望などを提起し、学生・教職員で集めて「見える化」する広場です。
    </p>
    <!-- エラーメッセージの表示 -->
    <% if (error) { %>
        <div style="color: red;"><%= error %></div>
    <% } %>
    
    <form action="/">
      <h3>
        表示範囲
      </h3>
      <ul>
        <li><label><input type="checkbox" name="show" value="world" <% if (showing.includes("world")) { %>checked<% } %>> 🌏全世界</label></li>
        <% if (user.id) { %>
          <li><label><input type="checkbox" name="show" value="all" <% if (showing.includes("all")) { %>checked<% } %>> 🎓全構成員</label></li>
        <% } %>
        <% (permissions || []).forEach(permission => { %>
          <li><label><input type="checkbox" name="show" value="<%= permission.target %>" <% if (showing.includes(permission.target)) { %>checked<% } %>> <%= permission.group.name %></label></li>
        <% }) %>
      </ul>
      <button>
        適用
      </button>
    </form>

    <ul id="posts">
      <% (posts || []).forEach(post => { %>
        <li>
          <div class="meta">
            <strong><%= post.nickname %></strong>
            <time><%= new Date(post.timestamp).toLocaleString('ja-JP', { timeZone: 'Asia/Tokyo' }) %></time>
          </div>
          <%= post.content %>
       <% if(post.vote_type!="none"){ %>
              <form action="/post/<%= post.id %>/vote" method="post">
              <% switch(post.vote_type){
                   case "up/down": %>
                     <% const updown=post.myVote[0] || { option:"updown", value:0 } %>
                     <button type="submit" name="vote" <%= updown.value==+1 ? "value=0 class=toggled" : "value=+1" %> <% if(!post.isVotable){ %>disabled<% } %>>👍 <%= post.votes[+1] || 0 %></button>
                     <button type="submit" name="vote" <%= updown.value==-1 ? "value=0 class=toggled" : "value=-1" %> <% if(!post.isVotable){ %>disabled<% } %>>👎 <%= post.votes[-1] || 0 %></button>
                <%   break;
                   case "radio": %>
                     <ul id="options<%= post.id %>" class="radio">
                <%     if(post.isVotable){ %>
                       <li><label>
                         <input type="radio" name="vote" value="none"
                             <% if(post.myVote.every(row=>row.value==0)){ %>checked<% } %>>
                         未選択
                       </label></li>
                <%     } %>
                <%     (post.options || []).forEach(option => { %>
                         <li><label>
                           <input type="radio" name="vote" value="<%= option %>"
                <%         if(post.isVotable){
                             if((post.myVote.find(row=>row.option==option) || 0).value){ %>
                               checked
                <%           }
                           }else{ %>
                             disabled
                <%         } %>>
                           <%= option %> (<%= post.votes[option] %>)
                         </label></li>
                <%     }) %>
                     </ul>
                <%   if(post.isVotable){ %>
                       <button type="button" id="addOption<%= post.id %>" class="addOption">
                         選択肢を追加
                       </button>
                       <button>
                         投票
                       </button>
                <%   } %>
                <%   break;
                   case "checkbox": %>
                     <ul id="options<%= post.id %>" class="checkbox">
                <%     (post.options || []).forEach(option => { %>
                         <li><label>
                           <input type="checkbox" name="vote" value="<%= option %>"
                <%         if(post.isVotable){
                             if((post.myVote.find(row=>row.option==option) || 0).value){ %>
                               checked
                <%           }
                           }else{ %>
                             disabled
                <%         } %>>
                           <%= option %> (<%= post.votes[option] %>)
                         </label></li>
                <%     }) %>
                     </ul>
                <%   if(post.isVotable){ %>
                       <button type="button" id="addOption<%= post.id %>" class="addOption">
                         選択肢を追加
                       </button>
                       <button>
                         投票
                       </button>
                <%   } %>
            <%   } %>
              </form>
       <% } %>
        </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
