<!DOCTYPE html>
<html>
<head>
  <title>UTonomy</title>
  <link rel="stylesheet" href="/style.css">
  <script type="module" src="/client.js"></script>
</head>
<body>
  <header>
    <div class="account">
      <% if (user.id) { %>
        <a href="/user"><img src="<%= user.photos[0].value %>"><%= user.displayName %></a>
        <a href="/logout">ログアウト</a>
      <% } else { %>
        <a href="/auth/google">ログイン</a>
      <% } %>
    </div>
    <h1>UTonomy</h1>
    <nav>
      <ul>
        <li>HOME</li>
        <% if (user.id) { %>
          <li><a href="/group">GROUP</a></li>
        <% } %>
      </ul>
    </nav>
  </header>

    <h2>Posts</h2>

    <!-- エラーメッセージの表示 -->
    <% if (error) { %>
        <div style="color: red;"><%= error %></div>
    <% } %>

    <ul>
      <% (data.posts || []).forEach(post => { %>
        <li>
          <strong><%= post.nickname %></strong>:
          <%= post.content %>
          - <%= new Date(post.timestamp).toLocaleString('ja-JP', { timeZone: 'Asia/Tokyo' }) %>
          <form action="/post/<%= post.id %>/vote" method="post" style="display:inline;">
            <% switch(post.vote_type){
                 case "up/down": %>
                  <button type="submit" name="updown" value="+1" <% if(!post.isVotable){ %>disabled<% } %>>👍 (<%= post.votes[+1] %>)</button>
                  <button type="submit" name="updown" value="-1" <% if(!post.isVotable){ %>disabled<% } %>>👎 (<%= post.votes[-1] %>)</button>  
              <% break;
                 case "radio": %>
                  <button type="submit" name="updown" value="+1" <% if(!post.isVotable){ %>disabled<% } %>>👍 (<%= post.votes[+1] %>)</button>
                  <button type="submit" name="updown" value="-1" <% if(!post.isVotable){ %>disabled<% } %>>👎 (<%= post.votes[-1] %>)</button>
              <% break;
                 case "checkbox": %>
                  <button type="submit" name="updown" value="+1" <% if(!post.isVotable){ %>disabled<% } %>>👍 (<%= post.votes[+1] %>)</button>
                  <button type="submit" name="updown" value="-1" <% if(!post.isVotable){ %>disabled<% } %>>👎 (<%= post.votes[-1] %>)</button>
            <% } %>
          </form>
        </li>
      <% }) %>
    </ul>
      <% if (user.id) { %>
        <form id="post" action="/post" method="post">
          <input name="nickname" value="<%= user.displayName %>" placeholder="藤井輝夫">
          <textarea name="content" placeholder="総長万歳" required></textarea>
          <label for="viewer">閲覧</label>
          <select id="viewer" name="viewer">
            <option value="all">🎓全構成員</option>
            <option value="world">🌏全世界</option>
            <% (data.permissions || []).forEach(permission => { %>
              <option value="<%= permission.target %>"><%= permission.group.name %>(<%= permission.target %>)</option>
            <% }) %>
          </select>
          <label for="voteType">投票</label>
          <select id="voteType" name="voteType" onchange="showInputBox()">
            <option value="none">無効</option>
            <option value="up/down">👍/👎</option>
            <option value="button" class="customOptions">⬜択一（ワンクリック）</option>
            <option value="radio" class="customOptions">🔘択一（ラジオボタン）</option>
            <option value="checkbox" class="customOptions">☑複数選択（チェックボックス）</option>
            <option value="select" class="customOptions">択一（ドロップダウン）⌄</option>
            <option value="select-multuple" class="customOptions">複数選択（リスト形式）▲▼</option>
          </select>

          <div id="inputContainer" class="input-container" style="display: none;">
            <label for="customOption">任意の選択肢を入力:</label>
            <input type="text" id="customOption" placeholder="選択肢を入力">
            <button onclick="addOption()">追加</button>
            <ul id="optionList"></ul>
          </div>
          <select name="voter" hidden>
            <option value="all">🎓全構成員</option>
            <% (data.permissions || []).forEach(permission => { %>
              <option value="<%= permission.target %>"><%= permission.group.name %>(<%= permission.target %>)</option>
            <% }) %>
          </select>
          <button type="submit">Post</button>
        </form>
      <% } else{ %>
        <p>
          投稿するには<a href="/auth/google">ログイン</a>
        </p>
      <% } %>
</body>
</html>
