<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新しい提起</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/post.css">
    <script type="module" src="/ui.js"></script>
    <% if (user.id) { %><script type="module" src="/post.js"></script><% } %>
  </head>

  <body>
  <header>
    <h1><a href="/">UTonomy</a></h1>
    <button id="drawer-toggle">☰</button>
    <div id="drawer" class="drawer">
      <div class="account">
        <% if (user.id) { %>
            <a href="/user"><img src="<%= user.photos[0].value %>"><%= user.displayName %></a>
            <a href="/logout">ログアウト</a>
        <% } else { %>
            <a href="/auth/google">ログイン</a>
        <% } %>
      </div>
      <nav>
        <ul>
            <li><a href="/">提起ひろば</a></li>
            <% if (user.id) { %>
              <li><a href="/group">グループ</a></li>
            <% } %>
        </ul>
      </nav>
    </div>
  </header>
    <form id="post" action="/post" method="post">
      <% if (user.id) { %>
          <input name="nickname" value="<%= user.displayName %>" placeholder="自称理事">
          <textarea class="main" name="content" placeholder="T大学がグローバルな競争を勝ち抜くため、学費の年間150万円への改定は待ったなしです。J国の与党総裁が学費の無償化を主張していますが、この主張をそのまま受け入れることは大学の自治を損なうものであり、学生の学修環境を損なう政策には毅然と反対していきます。本学には授業料の減免制度が存在し、年収が一定以下の世帯につきましてはこちらのさじ加減で柔軟に支援策を実施していきます。いわゆる経済的DV等でこれらの支援策を受けることができない学生につきましては、M奨学金を推奨しております。これは本学の学生であれば誰でも年10%の低金利で借りることのできる奨学金で、いかなる経済状況の学生でも本学で学ぶ機会が損なわれることのないよう、M銀行と協議して創設したものです。本学は今後とも" required></textarea>
          <label for="viewer">閲覧</label>
          <select id="viewer" name="viewer">
            <option value="all">🎓全構成員</option>
            <option value="world">🌏全世界</option>
            <% (permissions || []).forEach(permission => { %>
              <option value="<%= permission.target %>"><%= permission.group.name %>(<%= permission.target %>)</option>
            <% }) %>
          </select>
          <label for="voteType">投票</label>
          <select id="voteType" name="voteType">
              <option value="none">無効</option>
              <option value="up/down" selected>👍/👎</option>
              <option value="radio" class="customOptions">🔘択一</option>
              <option value="checkbox" class="customOptions">☑複数選択</option>
          </select>

          <select name="voter">
            <option value="all">🎓全構成員</option>
            <% (permissions || []).forEach(permission => { %>
              <option value="<%= permission.target %>"><%= permission.group.name %>(<%= permission.target %>)</option>
            <% }) %>
          </select>
          <div id="inputContainer" class="input-container" style="display: none;">
              <ul id="optionList"></ul>
              <button type="button" id="addOptionButton">選択肢を追加</button>
          </div>
          <button type="submit">投稿</button>
      <% } else{ %>
        <p>
          投稿するには<a href="/auth/google">ログイン</a>
        </p>
      <% } %>
  </form>
  </body>
</html>