<!DOCTYPE html>
<html>
<head>
    <title>User</title>
</head>
<body>
    <h1><%= user.displayName %></h1>
    <p>
      <%= user.id %>
    </p>
    <img src="<%= user.photos[0].value %>">
    <div>
    <table>
      <caption>所属しているグループ</caption>
      <thead><tr><th>ID</th><th>グループ名</th><th>権限</th><th>人数制限</th></tr></thead>
      <tbody>
        <% (permissions || []).forEach(permission => { %>
          <tr>
            <td><%= permission.target %></td>
            <td><%= permission.group.name %></td>
            <td><%= permission.permission %></td>
            <td><%= permission.group.member_limit||なし %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
</body>
</html>
