<!DOCTYPE html>
<html>
<head>
  <title><%= user.displayName %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="account">
        <% if (user.id) { %>
            <a href="/user"><img src="<%= user.photos[0].value %>"><%= user.displayName %></a>
            <a href="/logout">ログアウト</a>
        <% } else { %>
            <a href="/auth/google">ログイン</a>
        <% } %>
    </div>
    <h1>UTonomy</h1>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <% if (user.id) { %>
                <li><a href="/group">GROUP</a></li>
            <% } %>
        </ul>
    </nav>
  </header>
  <main>
    <h1><%= user.displayName %></h1>
    <p>
      <%= user.emails[0].value %>
    </p>
    <img src="<%= user.photos[0].value %>">
  </main>
</body>
</html>
